.bTit {
    position: relative;
    padding-top: 24px;
    width: var(--mian-max-width);
    height: 69px;
    margin: auto;
    margin-bottom: 10px;
}

.cfx {
    margin-right: auto;
    margin-left: auto;
}

.bTopic .bTit:before,
.bRank .bTit:before {
    background-position: -7px -683px;
}

.bTit:before {
    content: "";
    position: absolute;
    left: -232px;
    top: 50px;
    display: block;
    width: 211px;
    height: 11px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -7px -434px;
}

.cfx:before,
.cfx:after {
    display: table;
    content: "";
    line-height: 0;
}

.bTit i {
    float: left;
    display: block;
    width: 785px;
    height: 69px;
    font-size: 14px;
    color: #6297FF;
    font-weight: bold;
    text-align: center;
    line-height: 65px;
    padding-right: 203px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -229px -408px;
}

.bTit a {
    position: relative;
    z-index: 1;
    float: right;
    right: 250px;
    display: block;
    width: 150px;
    height: 16px;
    padding: 24px 5px;
    background: url(../img/icons.png) no-repeat;
    background-size: 1000px 1000px;
    background-position: -45px 20px;
}

.bTopic .bTit:after,
.bRank .bTit:after {
    background-position: -1059px -627px;
}

.bTit:after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    display: block;
    width: 285px;
    height: 204px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -1059px -408px;
}

.bRank {
    position: relative;
    padding-bottom: 0px;
    z-index: 1;
}

.bRBox {
    width: var(--mian-max-width);
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
}

.bRBox>div {
    position: relative;
    padding: 0 7.5px 4px;
    width: 450px;
    margin: 0 0px 20px;
}

.bRBoxL {
    float: left;
}

.bRBoxM {
    float: left;
}

.bRBoxR {
    float: right;
}

.bRBoxL:before {
    content: "";
    position: absolute;
    top: -13px;
    right: -18px;
    z-index: 2;
    display: block;
    width: 281px;
    height: 175px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -7px -1132px;
}

.bRBoxM:before {
    content: "";
    position: absolute;
    top: -9px;
    right: -15px;
    z-index: 2;
    display: block;
    width: 224px;
    height: 166px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -308px -1132px;
}

.bRBoxR:before {
    content: "";
    position: absolute;
    top: -13px;
    right: -20px;
    z-index: 2;
    display: block;
    width: 254px;
    height: 175px;
    background: url(../img/titbg.png) no-repeat;
    background-size: 1500px 2500px;
    background-position: -552px -1132px;
}

.bRBox>div>a {
    display: block;
    margin-bottom: 30px;
}

.bRBox>div strong {
    position: relative;
    display: block;
    width: 100%;
    font-size: 26px;
    color: var(--main-color);
    line-height: 72px;
    white-space: nowrap;
    overflow: hidden;
}

.bRBox>div strong:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80px;
    height: 5px;
    background: linear-gradient(-90deg, #6C71FF, #56C4FF);
    border-radius: 2px;
}

.bRBox .ranking-list {
    position: relative;
    background: var(--main-bg-color);
    padding: 18px 0px 60px;
    margin-top: 8px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.06);
    border-radius: 40px;
}

.bRBox .ranking-list:before {
    content: "";
    position: absolute;
    z-index: 0;
    top: -8px;
    display: block;
    width: 100%;
    height: 88px;
    background-color: var(--main-bg-color);
    border-radius: 40px;
}

.bRBoxL .ranking-list:before {
    background: url(../img/ir1bg.png) no-repeat;
    background-size: 100% auto;
    background: var(--main-bg-color);
}

.bRBoxM .ranking-list:before {
    background: url(../img/ir2bg.png) no-repeat;
    background-size: 100% auto;
    background: var(--main-bg-color);
}

.bRBoxR .ranking-list:before {
    background: url(../img/ir3bg.png) no-repeat;
    background-size: 100% auto;
    background: var(--main-bg-color);
}

.bRBoxL .ranking-list li:nth-of-type(2n+1) {
    background-color: rgba(234, 238, 255, .3);
}

.bRBoxM .ranking-list li:nth-of-type(2n+1) {
    background-color: #FFFBF6;
    border-radius: 3px;
}

.bRBoxR .ranking-list li:nth-of-type(2n+1) {
    background-color: #FFFAFC;
}

.bRBox .ranking-list li {
    position: relative;
    z-index: 1;
    height: 85px;
    margin: 10px 0;
}

.bRBox .ranking-list li a {
    position: relative;
    display: flex;
    padding: 8px 0;
    overflow: hidden;
    background: var(--main-bg-color);
}

.bRBox .ranking-list li a:before {
    content: "";
    position: relative;
    float: left;
    margin: 9px 13px 0;
    display: block;
    width: 57px;
    height: 52px;
    line-height: 51px;
    text-align: center;
    background: url(../img/icons.png) no-repeat;
    background-size: 1000px 1000px;
    background-position: -5px -102px;
}

.bRBox .ranking-list li:nth-of-type(n+4) a:before {
    width: 30px;
    height: 16px;
    margin: 27px 26.5px 0;
}

.bRBox .ranking-list li:nth-of-type(1) a:before {
    background-position: -7px -102px;
}

.bRBox .ranking-list li:nth-of-type(2) a:before {
    background-position: -77px -102px;
}

.bRBox .ranking-list li:nth-of-type(3) a:before {
    background-position: -149px -102px;
}

.bRBox .ranking-list li:nth-of-type(4) a:before {
    background-position: -221px -102px;
}

.bRBox .ranking-list li:nth-of-type(5) a:before {
    background-position: -264px -102px;
}

.bRBox .ranking-list li:nth-of-type(6) a:before {
    background-position: -308px -102px;
}

.bRBox .ranking-list li:nth-of-type(7) a:before {
    background-position: -352px -102px;
}

.bRBox .ranking-list li:nth-of-type(8) a:before {
    background-position: -396px -102px;
}

.bRBox .ranking-list li:nth-of-type(n+9) a:before {
    background: transparent;
}

.bRBox .ranking-list li a img {
    float: left;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    margin-right: 13px;
    border: 2px solid #FFFFFF;
}

.bRBox .ranking-list li a div {
    float: left;
    width: 210px;
    height: 69px;
    overflow: hidden;
}

.bRBox .ranking-list li a div p {
    font-size: 15px;
    color: var(--main-color);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 2.4em;
    margin-bottom: 5px;
}

.bRBox .ranking-list li a div h6 {
    font-size: 12px;
    color: #9A9A9A;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bRBox .ranking-list li a i {
    display: none;
    position: absolute;
    top: 23px;
    right: 18px;
    width: 38px;
    height: 38px;
    background: url(../img/icons.png) no-repeat;
    background-size: 1000px 1000px;
    background-position: -108px -45px;
}

.bRBox .ranking-list li a:hover i {
    display: block;
}

.bRBox .ranking-list li a:hover div p {
    font-weight: bold;
}

.bRBoxL .ranking-list li a:hover div p {
    color: #6969FF;
}

.bRBoxM .ranking-list li a:hover div p {
    color: #F2813A;
}

.bRBoxR .ranking-list li a:hover div p {
    color: #E67AAD;
}

.bRBoxL .rMore:hover {
    color: #6969FF;
}

.bRBoxM .rMore:hover {
    color: #F2813A;
}

.bRBoxR .rMore:hover {
    color: #E67AAD;
}

.bRBox .ranking-list li:nth-of-type(1) a i {
    display: block;
}

.bRBox .ranking-list li:nth-of-type(1) a div p {
    font-weight: bold;
}

.bRBoxL .ranking-list li:nth-of-type(1) a div p {
    color: #6969FF;
}

.bRBoxM .ranking-list li:nth-of-type(1) a div p {
    color: #F2813A;
}

.bRBoxR .ranking-list li:nth-of-type(1) a div p {
    color: #E67AAD;
}

.bRBox .ranking-list:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: -16px;
    display: block;
    width: 100%;
    height: 78px;
    background-size: 100% 100%;
    margin-left: 0px;

}

.bRBox>div>a {
    display: block;
    margin-bottom: 30px;
}

.rMore {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    text-align: center;
    font-size: 16px;
    color: #AEAEAE;
    line-height: 44px;
    margin-bottom: 0 !important;
}

.ranking-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1221px) {
    .wapnone {
        display: none;
    }
}