.tengfei_widgets_ranking {
    margin: 0;
    padding: 0;
    background: none;
    box-shadow: none;
}


/** 首页排行榜列表 **/
@media (max-width: 768px) {
    .ranking-item {
        width: 100% !important;
    }
}

.syphimg {
    width: 90px;
    height: 60px;

    margin-right: 5px;
}

.syphimg img {
    border-radius: 8px;

}

.list.clearfix {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ranking-item {
    margin: 0 auto;
    position: relative;
    width: calc(33.333% - 10px);
    /* height: 400px; */
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    background: var(--main-bg-color);
    /* box-shadow: 0 2px 6px 0 rgb(55 55 55 / 7%); */
    /* border-radius: 8px; */
    box-shadow: 0 0 10px var(--main-shadow);
    border-radius: var(--main-radius);
    margin-bottom: 20px;
}

a.top-icon.js-rank-bottom1 {
    display: block;
    width: 129px;
    height: 43px;
    line-height: 32px;
    position: absolute;
    left: 150px;
    top: -7px;
    background: url(../img/ranking1.png) no-repeat center/100%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

a.top-icon.js-rank-bottom2 {
    display: block;
    width: 129px;
    height: 43px;
    line-height: 32px;
    position: absolute;
    left: 150px;
    top: -7px;
    background: url(../img/ranking2.png) no-repeat center/100%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

a.top-icon.js-rank-bottom3 {
    display: block;
    width: 129px;
    height: 43px;
    line-height: 32px;
    position: absolute;
    left: 150px;
    top: -7px;
    background: url(../img/ranking3.png) no-repeat center/100%;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.class-box {
    margin-top: 60px;
}

a.class-item.js-rank {
    display: block;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.num-icon.num-icon1 {
    width: 40px;
    height: 22px;
    background: url(../img/top1.png) no-repeat center/100%;
    margin: 0 12px 0 15px;
}

img.class-pic {
    width: 90px;
    border-radius: 8px;
    margin-right: 5px;
}

.class-info {
    width: 190px;
    font-size: 12px;
}

.name {
    color: var(--key-color);
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.price {
    color: #f01414;
    font-weight: 600;
    margin-bottom: 2px;
}

.study-num {
    color: #9199a1;
    font-weight: 400;
}

.num-icon.num-icon2 {
    background: url(../img/top2.png) no-repeat center/100%;
    margin: 0 12px 0 15px;
    width: 40px;
    height: 22px;
}

.num-icon.num-icon3 {
    background: url(../img/top3.png) no-repeat center/100%;
    margin: 0 12px 0 15px;
    width: 40px;
    height: 22px;
}

.num-icon.num-icon4 {
    background: url(../img/top4.png) no-repeat center/100%;
    margin: 0 12px 0 15px;
    width: 40px;
    height: 22px;
}

.num-icon.num-icon5 {
    background: url(../img/top5.png) no-repeat center/100%;
    margin: 0 12px 0 15px;
    width: 40px;
    height: 22px;
}

.num-icon.num-icon6 {
    background: url(../img/top6.png) no-repeat center/100%;

    margin: 0 12px 0 15px;
    width: 19px;
    height: 22px;
}


a.bottom-link.js-rank-bottom {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 12px;
    color: #fff;
    line-height: 12px;
    font-weight: 500;
    background-image: linear-gradient(270deg, #4063ffa3 0, #409eff 100%);
    border-radius: 12px;
    margin-bottom: 20px;
}


@media screen and (max-width: 1221px) {
    .none {
        display: none;
    }
}

.container.list.clearfix {
    padding-right: 0px;
    padding-left: 0px;
}

/** 首页排行榜列表结束 **/