.hfw-custom-widget {
    background: none;
    padding: 0;
    box-shadow: none;
    margin: 0;
    margin-bottom: 10px;
}

.hfw-posts-row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.hfw-post-list-item {
    overflow: hidden;
    border-radius: 5px;
    flex: 1 1 calc(20% - 10px);
    box-sizing: border-box;
    margin-bottom: 1px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .hfw-post-list-item {
        flex: 1 1 calc(50% - 10px);
    }
}

.hfw-post-module-thumb img {
    width: 100%;
    height: 268px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.hfw-post-module-thumb img:hover {
    transform: scale(1.1);
}

.hfw-post-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6) 100%);
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.hfw-post-info h2 {
    font-size: 1em;
    margin: 0;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hfw-post-info a {
    text-decoration: none;
    color: #fff;
}

.hfw-post-meta {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: #fff;
}

.hfw-post-meta .hfw-post-views {
    padding: 2px 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.hfw-post-module-thumb:hover .hfw-post-meta .hfw-post-views {
    opacity: 1;
}

.hfw-post-meta .hfw-post-images {
    padding: 2px 5px;
    border-radius: 3px;
}

.hfw-widget-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hfw-widget-title-wrapper h2 {
    background: url(../img/title.png) 0px -110px no-repeat;
    position: relative;
    margin-left: -10px;
    margin-right: 20px;
    height: 37px;
    padding-left: 45px;
    padding-top: 2px;
    font-size: 22px;
    margin-bottom: 10px;
}

.hfw-sort-link {
    font-size: 0.9em;
    color: #0073aa;
    text-decoration: none;
    margin-right: 10px;
}

.hfw-sort-link:hover {
    text-decoration: underline;
}

.hfw-more-link {
    text-decoration: none;
    margin-top: 15px;
}

.hfw-more-link:hover {
    text-decoration: none;
}