
.index-news-tool-container {
width: 250px;
margin: 0px auto 0px;
}

.index-news-tool-container .noad {
    border: 1px solid #0088ff;
    color: #0088ff;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    float: none;
    font-size: 1pc;
    transition: all .5s ease-in;
    border-radius: 5px;
}

.index-news-tool-container fieldset {
    display: -webkit-box;
    height: 34px;
    border-top: 1px solid #a9a9a9;
    margin: 30px auto 10px;
    float: none;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.index-news-tool-container legend {
    width: 100pt;
    font-size: 14px;
    line-height: 34px;
    color: #9a9a9a;
    text-align: center;
    border: 0;
}

.index-news-tool-container .tequan {
    margin: 0 auto;
    float: none;
    padding: 0;
    overflow: hidden;
    width: 230px;
}

.index-news-tool-container .tequan li {
    margin-top: 24px;
    overflow: hidden;
}

.index-news-tool-container .tequan div {
    float: left;
}

.index-news-tool-container .tequan .liright {
    float: right;
    text-align: right;
}

.index-news-tool-container .tequan div i {
    background: url(../img/O1CN01IQdMkK1QbIom1aysL_!!2210123621994.png) no-repeat;
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-right: 7px;
}

.index-news-tool-container a:nth-child(3) {
    margin-top: 20px;
}

.index-news-tool-container .mytg {
    border: 1px solid #0088ff;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
    font-size: 1pc;
    transition: all .5s ease-in;
    margin-top: 17px;
    background: #0088ff;
    float: none;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}